<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="knoblauch.readdesc"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FastReaderTheme">
        <activity
            android:name=".gui.activity.ReadActivity"
            android:label="@string/activity.read.title"/>
        <activity
            android:name=".gui.activity.CreateReadActivity"
            android:label="@string/activity.create_read.title" />
        <activity
            android:name=".gui.activity.SettingsActivity"
            android:label="@string/activity.settings.title" />
        <activity
            android:name=".gui.activity.RecentReadsActivity"
            android:label="@string/activity.recent_reads.title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>